@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: 0;
    border: none;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}

html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Menu */

.content{
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #1a191a;
    position: fixed;
    padding-left: 30rem;
}

.logo{
    width: 50px;
    height: auto;
    cursor:pointer;
    display: flex;
    align-items: flex-end;

}

.logo h3{
    color: white;
    font-size: 1.6rem;
}

.logo img{
    width: 100%;
    height: 100%;
}

.content .menu{
    width: 600px;
    display:flex;
    align-items:flex-start;
    justify-content: center;
    list-style-type: none;
    
}

.content .menu li a{
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem; 
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;
}

.content .menu li a:hover{
    background-color: #3333;
    border-bottom: 4px solid #0d8113 ;
    color: #0d8113;
    
}

/* cardapio*/

.cardapio{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 236, 236, 0.966) ;
    background-image: url(img/FUNDO.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.cardapio h2{
    font-size: 250px;
    color: #cec5c5;
    text-transform: uppercase;
}

.itens{
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 550px));
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.itens .info{
    background-color: rgb(221, 221, 221);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;

}

.itens .info h3{
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-decoration: underline;

}

.itens .info h4{
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    justify-content: center;
    margin-left: 6rem;
}

.contatos{
    background-color: #1a1717;
}

.itens img{
    width: 100%;
    height: 190px;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}
